$color_column_bg:#000000;
$color_menu_bg:#3C82DE;
$color_active_item:#3C82DE;
$color_active_item_text:#FFFFFF;
$color_hover_item:#4A5664;
$color_text_color:#FFFFFF;
$color_active_presence:#94E864;
$color_badge:#78AF8F;